body {
    background-color: #212121;
    color: white;
    margin: 0;
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
}
table {
    border-collapse: collapse;
    width: 40%;
}

tr, td {
    border: 2px solid rgb(255, 255, 255);
    padding: 8px; 
    text-align: center;
}
